.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.circle {
  -webkit-animation: dash 2 ease-in-out;
  animation: dash 2 ease-in-out;
}
.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 3s ease-in-out forwards;
  animation: dash 3s ease-in-out forwards;
}
.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 3s ease-in-out forwards;
  animation: dash-check 3s ease-in-out forwards;
}
.success {
  color: #1bb978;
  margin-top: 20px !important;
}
.error {
  color: #d06079;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
