.login-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.login-component-container {
  background-color: white;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 10px 0px #262626;
  border: 2px solid black;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}
.login-component-container-blank {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.role__img__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.login-role-img {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

.role__img__card {
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  box-shadow: 5px 5px 0px #262626;
  width: 350px;
  height: 350px;
  background-color: white;
}

.role__img__card:hover {
  cursor: pointer;
  transform: scale(1.05);
  border: 2px solid #5d56e1;
  box-shadow: 5px 5px 0px #6c63ff;
  color: #6c63ff;
}

span {
  font-weight: bold;
  font-size: 18px;
}

.google-login-button {
  padding: 10px !important;
}
