.cardContainer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card2{
    padding: 12px;
    width: 300px;
    margin: 20px;
    background-color: white;
    box-shadow: 10px 10px 0px #262626 !important;
    height: 300px;
    border: 2px solid black !important;
}
.card2-2{
    padding: 12px;
    width: 300px;
    margin: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px #262626 !important;
    height: 300px;
    background-size: 100% 100%;
    box-shadow: 10px 10px 0px #262626 !important;
    border: 2px solid black !important;
}
.card2:hover{
    border-color: #646ecb;
    box-shadow: 1px 1px 5px #646ecb !important;
}

#quizName{
    box-shadow: 5px 5px 0px #262626 !important;
    border: 2px solid black;
    height: 50px;
    width: 100%;
    max-width: 600px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: -10px;
}
.userInput{
    margin: 5px;
}