.cardContainer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cardContainer2-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card2 {
  padding: 12px;
  width: 350px;
  margin: 20px;
  background-color: white;
  height: 300px;
  border: 2px solid #e0e0e0 !important;
  border-radius: 10px;
}
.card2-2 {
  padding: 12px;
  margin: 20px;
  background-color: white;
  height: 300px;
  width: 350px;
  border: 2px solid #e0e0e0 !important;
  border-radius: 10px;
}
.card2-2:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.card2:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.quizName {
  box-shadow: 5px 5px 0px #262626 !important;
  border: 2px solid black;
  height: 50px;
  width: 80vw;
  max-width: 700px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: -10px;
  border-radius: 0 !important;
}
.userInput {
  margin: 5px;
}
.card2-2-subject {
  padding: 12px;
  width: 80vw;
  margin: 20px;
  background-color: white;
  height: 500px;
  background-size: 100% 100%;
  border: 2px solid #e0e0e0 !important;
  border-radius: 10px;
}
.subject-container {
  padding: 12px;
  width: auto;
  margin: 20px;
  background-color: white;
  border: 2px solid #e0e0e0 !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
.subject-name {
  height: 50px;
  width: 80%;
  max-width: 600px;
  font-size: 30px;
}
