body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    width: 100%;
    height: 90vh;
}

nav {
    background: #282c34;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    box-shadow: 2px 2px 10px black;
    width: 100%;
}
ul{
    
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;
  
  }
li{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    display: initial;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    z-index: 1;
    
  
  }
a{
    
    padding: 20px;
    width: 100px;
    display: initial;
    margin-left: 1%;
    margin-top: 1%;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
  }
.liright{
    float: right;
    margin-right: 1%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#codeInput{
    margin-bottom: 5%;
    width: 95%;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
}
#mainConatainer{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 25%;
    background-color: white;
    border-radius: 15px;
    margin-top: 13vh;
    min-width: 200px;
    min-height: 250px;
}
#subConatainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    background-color: white;
    border-radius: 15px;
    margin-top: 13vh;
    min-width: 200px;
    min-height: 250px;
}
@media (pointer:none), (pointer:coarse) {
    #mainConatainer{
        margin-top: 18vh;
    }
    #subConatainer{
        margin-top: 18vh;
    }
}

#cardContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45vh;
    min-height: 300px;
    width: 20%;
    overflow-y: scroll;
    min-width: 380px;
    background-color: white;
    border-radius: 25px;
}

#cardDiv{
    display: inline-block;
}
#cardDiv2{
    display: inline-block;
}
.card{
    border:2px solid #d4d4d4;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 5px;
}


.newQuiz{
    position: relative;
    top: 20vh;
    left: 50%;
    margin-top: 10vh;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 25px;
    min-width: 500px;
    width: 20%;
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 150px;
    width: 20vh;
}
#popUp{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50vw;
    height: 40vw;    justify-content: center;
    text-align: center;

}
#podiumContainer{
    background-color: white;
    border-radius: 25px;
}

textarea{
    margin: 10px;
    resize: vertical;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
    border: none;
    outline: none;
    
}
button{
    background-color: black;
    padding: 8px;
    color: white;
    outline: none;
    border: none;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;

}
input{
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 1px solid black;
    font-size: 2vh;
    margin-top: 1vh;
}